#nglOuterDiv{
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   border-style: solid;
   border-width: 0px;
   border-color: red;
   border-radius: 5px;
   }

#nglTab{
  padding: 0;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-width: 0px;
  border-color: darkgreen;
  border-radius: 5px;

  }

#nglViewport{
  overflow: hidden;
  width: 100%;
  height: 100%;

  border-style: solid;
  border-width: 0px;
  border-color: lightblue;
  border-radius: 5px;


  }

